#tableWrapper {
	width: 90vw;
	height: 70vh;
	border: 2px solid #000000;
	position: relative;
}

#tableWrapper table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

#parsedTable th,
#parsedTable td {
	border: 1px solid #000;
	padding: 8px;
	text-align: left;
	min-width: 100px;
}

#parsedTable th {
	background-color: #f2f2f2;
}

#parsedTable thead tr:first-child,
#parsedTable thead tr:first-child th:first-child,
#parsedTable thead tr:first-child th:nth-child(2) {
	position: sticky;
	top: 0;
	z-index: 2;
}

#parsedTable tbody td:first-child,
#parsedTable tbody td:nth-child(2) {
	position: sticky;
	background-color: #f2f2f2;
	z-index: 1;
}

#parsedTable thead tr:first-child,
#parsedTable thead tr:first-child th:first-child,
#parsedTable tbody td:first-child {
	left: 0;
}

#parsedTable thead tr:first-child th:nth-child(2),
#parsedTable tbody td:nth-child(2) {
	left: 100px;
}

#textArea {
	width: 90vw;
	height: 20vh;
	margin-top: 20px;
}

.error {
	background-color: red;
}