<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="./SPBTPJD1.js"></script>
	<link rel="stylesheet" type="text/css" href="./SPBTPJD1.css">
	<title>Insert title here</title>
</head>

<body>
	<div id="drop-area">
		<p>Drop your CSV file here</p>
	</div>
	<div>
		<input type="text" id="svgSelect">
		<button id="zoomIn">Zoom In</button>
		<button id="zoomOut">Zoom Out</button>
	</div>
	<div id="svgWrapper">
	</div>
</body>

</html>