body {
    /* 背景色と基本設定 */
    background-color: #dcdcdc;
    position: absolute;
    overflow: hidden;
    margin: 8px;
    right: 0px;
}

body.rotate-landscape {
    /* 横向き時のスタイル */
    top: env(safe-area-inset-top);
    width: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right) - 16px);
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 16px);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body.rotate-portrait {
    /* 縦向き時のスタイル */
    transform: rotate(90deg);
    transform-origin: top right;
    top: calc(100vh - env(safe-area-inset-top) - 16px);
    width: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 16px);
    height: calc(100vw - env(safe-area-inset-left) - env(safe-area-inset-right) - 16px);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

