<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" th:href="@{/css/COMMON.css}">

<title>ファイルリスト</title>
</head>
<body class="container">

	<div id="filePathListWrap" class="custom-div-with-border">
		<span>ショートカット一覧</span>
		<details th:each="elmGroup: ${viewModel.filePathList}">
			<summary
				th:text="${viewModel.filePathGroupMap.get(elmGroup.groupId)}"></summary>
			<ul class="draggableUl">
				<li th:each="elmPath: ${elmGroup.pathList}">
					<a th:class="draggableA"
						th:href="@{'/spbtpj1/openFile?filename=' + ${elmPath.encodePath} + ''}"
						th:text="${elmPath.name}"></a>
				</li>
			</ul>
		</details>
	</div>

	<div id="filePathAddWrap" class="custom-div-with-border">
		<span>ショートカット追加</span>
		<form action="/spbtpj1/insert" method="post" th:object="${viewModel}">
			<select id="groupId" name="groupId" th:field="*{groupId}"
				class="form-select-sm">
				<option th:each="entry : ${viewModel.filePathGroupMap}"
					th:value="${entry.key}" th:text="${entry.value}"></option>
			</select>
			<input type="text" id="name" name="name" th:field="*{name}"
				class="form-control-sm" />
			<input type="text" id="path" name="path" th:field="*{path}"
				class="form-control-sm" />
			<button type="submit" class="custom-btn">ショートカット追加</button>
		</form>
	</div>

	<div id="fileGroupAddWrap" class="custom-div-with-border">
		<span>グループ関連</span>
		<div class="row">
			<form action="/spbtpj1/insertGroup" method="post"
				th:object="${viewModel}" class="col-6">
				<input type="text" id="group" name="group" th:field="*{group}"
					class="form-control-sm" />
				<button type="submit" class="custom-btn">グループ追加</button>
			</form>
			<form action="/spbtpj1/redirect_spbtpj2" method="post" class="col-6">
				<button type="submit" class="custom-btn float-end">グループ順変更</button>
			</form>
		</div>
	</div>
</body>
</html>
