#taskWrapper {
    width: 90vw;
    height: 70vh;
    border: 2px solid #000000;
    overflow: scroll;
}

#taskWrapper table {
    border-collapse: collapse;
}

#taskWrapper th {
    border: 1px solid black;
    background-color: #f2f2f2;
    font-weight: bold;
}

#taskWrapper td {
    border: 1px solid black;
    text-align: left;
}
