.chart-container {
    width: 90vw;
    overflow: scroll;
    border: 1px solid #ccc;
    margin: 20px auto;
    font-size: 0.5em;
}

.grid-row {
    display: grid;
    position: relative;
    grid-template-columns: 100px repeat(5, 80px) repeat(60, 40px);
}

.grid-row div {
    padding: 5px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.grid-row-header div {
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.label,
.name,
.start,
.startActual,
.end,
.endActual,
.progressRate {
    text-align: right;
    padding: 10px;
    display: flex;
    align-items: center;
}

.bar {
    position: absolute;
    background-color: #d3d3d3;
    height: 20px;
    align-self: center;
}

.progress-bar {
    position: absolute;
    background-color: #4CAF50;
    height: 10px;
    align-self: center;
    top: 0px;
}